@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primaryColor: #82e3a4;
  --primaryColorShadow: #6ec98e;
  --bgColor: #030527;
  --fontColor: rgb(235, 222, 247);
  --fontColor2: rgb(154 154 168);
  --fontSize: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans Arabic", sans-serif;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background: url("./assets/img/mainBG.svg");
  background-size: contain;
  background-color: var(--bgColor);
  color: var(--fontColor);
}
.active {
  color: var(--primaryColor) !important;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.title {
  width: 100%;
  text-align: center;
  color: var(--fontColor);
  text-transform: uppercase;
  font-weight: 300;
  padding: 80px 0 30px 0;
}
.modal-content {
  border: 1px solid #2cade4;
  background: var(--bgColor) !important;
}
.modal-title {
  color: var(--fontColor) !important;
}
.modal-header .btn-close {
  color: #a7a7a7;
  font-size: 1rem;
  font-weight: bold;
}
.title2 {
  font-weight: 700;
  font-size: 30px;
  color: var(--fontColor);
}
.title2 span {
  color: var(--primaryColor);
}
.animation {
  width: 100%;
  animation: animate 2s linear infinite alternate;
}
@keyframes animate {
  0% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(7px);
  }
}

#glow {
  color: #fff;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}