.hambarger-menu {
  display: none;
}
.Loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}
.Loader img {
  width: 40px;
}
/* navigation */
.navigation {
  width: 100%;
  padding: 20px 0;
  position: fixed;
  z-index: 1000;
}
.afterScroll {
  background-color: var(--bgColor);
  border-bottom: 1px solid rgb(38 38 38);
  box-shadow: 0px 5px 10px rgb(0 0 0 / 47%);
}
.nav-ul {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-ul li a {
  color: var(--fontColor);
  font-weight: 500;
  transition: 0.3s;
}
.nav-ul li a:hover {
  color: var(--primaryColor);
}
.marketplace-btn {
  padding: 5px 20px;
  border-radius: 7px;
  border: 1px solid var(--primaryColor);
}
/* navigation */

/* landing */
.landing-content {
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo-name {
  font-size: 22px;
  color: var(--fontColor2);
}
.landing-title {
  font-weight: 700;
  font-size: 2.4rem;
}
.landing-title span {
  color: var(--primaryColor);
}
.landing-para {
  letter-spacing: 0.2px;
  color: var(--fontColor2);
  font-size: 1.1rem;
}
.lading-learn-more {
  margin-top: 10px;
  width: fit-content;
  color: var(--primaryColor);
  font-size: 1.1rem;
  border-bottom: 1px solid;
}
.lading-learn-more:hover {
  color: var(--primaryColorShadow);
}
.straight-line {
  position: fixed;
  bottom: 64px;
  left: 50.4px;
  width: 1px;
  background-color: var(--fontColor2);
}
.straight-line::before {
  content: "";
  position: fixed;
  width: 22px;
  height: 27px;
  background: url(../img/fire.png) center no-repeat;
  background-size: contain;
  bottom: 59px;
  left: 40px;
  border-radius: 50%;
}
.scroller-svg {
  width: 22px;
  position: absolute;
  bottom: 50px;
  left: 40px;
}
.landing-imge {
  width: 100%;
  filter: drop-shadow(5px 5px 0 var(--primaryColor));
}
.landing-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 5px;
}
.landing-ul {
  background-color: #ffffff38;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 12px;
  border-radius: 28px;
  font-size: 22px;
}
.landing-icons a {
  color: white;
  padding: 7px 0;
  transition: 0.3s;
}
.landing-icons a:hover {
  color: var(--primaryColor);
}
/* landing */
