.swipper-container {
  padding: 10px;
  border-radius: 10px;
  border-top: 1px solid #dddddd36;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;
  color: var(--fontColor);
}
